@{ 
    ViewData["Title"] = "Index";
    Layout = "_NonAdminLayout";
}

<div class="text-center">
    <h1 class="display-4"> &gt; Login As &lt;</h1>
</div>

<div class="home-index-wrapper">
    <a class="btn-HOME" asp-controller="Courses" asp-action="Index"><p>Admin</p></a>
    <a class="btn-HOME" asp-controller="Teachers" asp-action="TeacherLogin"><p>Teacher</p></a>
    <a class="btn-HOME" asp-controller="Students" asp-action="StudentLogin"><p>Student</p></a>
</div>